html {
  height: 100%;
}

body {
  padding: 0;
  margin : 0;
  height : 100%
}

#root {
  background-color: #212121;
  height:100%;
  color: #90caf9;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: white;
}

a:visited {
  color: yellow;
}
